.osmrtniceFooter {
    a {
        display: flex;
        justify-content: center;;
    }
}
.footerLower {
    padding: 30px 15px 30px 15px;
    background: #313131;
    a {
        display: flex;
        align-items: center;
        color: #999 !important;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        span {margin-left: 15px; font-weight: bold;}
        &:hover {
            color: #6eb48c !important;
            svg {
                background: #6eb48c;
                border-color: #6eb48c;
                path {
                    color: white;
                }
            }
          
        }
    }
}

.flexFooter {
    display: flex;
    justify-content: center;
 
    padding-bottom: 30px;
    a {
        padding: 0 20px;
        i {
            color: white;
            padding: 2px 10px;
            font-size: 24px;
            border-radius: 10px;
        }
    }
}
.flexFooter{
 a:nth-child(1) {
     i {
        background: #0a67ff;
     }

 }
}
.flexFooter{
    a:nth-child(2) {  
        i {
            background: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, rgb(253, 89, 73) 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
        }  
    }
   }
   .flexFooter{
    a:nth-child(3) { 
        i {
            background: #ff0000;
        } 
    }
   }
.copyrights {
    margin-top: 30px;
    text-align: center;
    color: #999 !important;
   
    p {
        
         font-size: 18px;
    }

}