


.activeThumb {
    border: 3px solid orange; /* Add an orange border to the active thumb */
  }
.mobileSingleItem {
    position: relative;
    // img {
    //     border-radius: 10px;
    // }
}
.mobileCommentCount {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // :nth-child(1) {
    //     margin-right: 5px;
    // }
    i {
        font-size: 18px;
    }
}
.mobileCommentCount2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 12px;;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    :nth-child(1) {
        margin-right: 5px;
    }
    i {
        font-size: 18px;
    }
}
.mobileCategoryOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: purple;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mobilePhotos {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    font-size: 24px;
    color: #ffffffa3;
    border-top-left-radius: 10px;
    i {
        background: rgba(149, 84, 65, 0.56);
        display: flex;
        padding: 5px 10px;
    }
}
.mobileSpan {
    font-size: 16px;
    font-weight: 600;
  
  }
.mobileDateAndComments {
    display: flex;
    justify-content: space-between;

}
.mobileComments {
    font-size: 16px;
    padding-bottom: 3px;
    i {
        margin-left: 5px;
    }
}

///// MOBILE BUTTON
/// 
/// 

.mobileButton {
    border: none;
    display: block;
    margin: 30px auto;
    font-size: 18px;
    padding: 8px 20px;
    //border-radius: 10px;
    background: #3c2ca0;
    color: white;
    font-weight: 600;
    font-family: "Barlow Condensed";
    
}
.mobileButtonOrange {
    border: none;
    display: block;
    margin: 30px auto;
    font-size: 18px;
    padding: 8px 20px;
    //border-radius: 10px;
    background: rgb(27, 65, 153);
    color: white !important;
    font-weight: 600;
    font-family: "Barlow Condensed";
   
}

//// PROMO MOBILE
/// 
/// 
.mobilePromoBanner {
    color: white;
    //background: blue;
    width: 100%;
    display: block;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
}

/// MOBILE POPULARNO
/// 
/// 

.slideTestParent {
    display: grid;
    //padding: 12px;
    h1 {
        display: inline-block;
       
    }
}
.slideTest {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    div {
        display: inline-block;
    }
  
}
.slideTestChildWrap {
    position: relative;
    display: flex !important;
    span {
        background: #0151c7;
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom-right-radius: 7px;
        font-size: 11px;
        padding: 3px 5px 2px 5px;
        color: white;
    }
}
.slideTestChild {
    padding-right: 15px;
    //min-width: 150px;
    a {
        text-decoration: none;
    }
    img {
        border-radius: 7px;
        object-fit: cover;
    
    }
    h1 {
        white-space: wrap;
        font-size: 14px;
        line-height: 1.3 !important; 
        margin-top: 5px !important;
        border-bottom: none;
    }
  
}
.slideTestChild:nth-last-child(-n + 1) {
    padding-right: 0;
}
.slideTestChild2 {
    padding-right: 15px;
    //min-width: 150px;
    a {
        text-decoration: none;
    }
    img {
        border-radius: 7px;
        object-fit: cover;
    
    }
    h1 {
        white-space: wrap;
        font-size: 14px;
        line-height: 1.3 !important; 
        margin-top: 5px !important;
        border-bottom: none;
    }
  
}


///// INNER HTML
/// 

.MobileInnerHTML {
    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin-bottom: 20px;
        width: 100%;
    }
    iFrame {
        // height: auto;
        // max-width: 100%;
        // min-height: 300px;
        max-width: 100%;
        //max-height: 100%;
        background: white;
        // height: inherit;
        // min-height: 30vh;
        aspect-ratio: 16/9;
        //height: inherit;
    }
    div {
        width: auto !important;
        video {
            width: 100%;
            height: auto;
        }
    }
    p {
        font-size: 18px;
    }

}


//// POST SHARING
/// 
.PostSharing {
    a {
        font-size: 24px;
    }
}

//// SCROLL TO TOP
/// 
.toTop {
    position: fixed;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    z-index: 5;
    i {
        background: #ea8624a3;
        color: white;
        padding: 8px 10px;
    }
}


/// CAROUSEL POST
/// 
.mobCarousel {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
    align-items: center;
    img {
        object-fit: contain;
        height: auto;
        width: auto;
    }
}
.galleryGridImg {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}




@media (orientation: landscape) {
 
  .landscapeView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
        .landscapeViewChild {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
  }
  
}